<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <add 
                name="httpPlatformHandler" 
                path="*" 
                verb="*" 
                modules="httpPlatformHandler"
                resourceType="Unspecified" />
        </handlers>
        <httpPlatform 
            processPath="C:\Program Files\nodejs\node.exe"
            arguments="C:\Website\server.js">
            <environmentVariables></environmentVariables>
        </httpPlatform>
    </system.webServer>
</configuration>